
<style>
  .home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
 
}

h1 {
  font-family: 'Raleway Semibold', sans-serif;
  color: #4d27b4;
  text-align: center;
  font-size: 40px;
  margin: 15px;
}

#users-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

#users-list li {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  color: #00000091;
}

</style>
<div class="home-page">
  <h1>Bem-vindo a Home</h1>
  <ul id="users-list"></ul>
</div>

<script>
  async function fetchUsers() {
    const token = localStorage.getItem('token');
    const response = await fetch('/api/users', {
      headers: {
        'Authorization':
          `Bearer ${token}`
      },
    });

    if (response.ok) {
      const users = await response.json();
      const usersList = document.getElementById('users-list');
      usersList.innerHTML = '';
      users.forEach(user => {
        const li = document.createElement('li');
        li.textContent = user.email;
        usersList.appendChild(li);
      });
    } else {
      window.location.href = '/login';
      alert('Unauthorized');
    }
  }
  fetchUsers();
</script>