<style>
  .recover-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.form-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

h1 {
  font-family: 'Raleway Semibold', sans-serif;
  color: #4d27b4;
  text-align: center;
  font-size: 40px;
  margin-bottom: 25px;
}

label {
  color: #000000e7;
  display: block;
  margin: 15px 0 10px 5px;
}

input[type="email"] {
 width: 100%;
  padding: 10px;
  border: 1px solid #0000002c;
  border-radius: 10px;
  color: #000000e7;
}

input::placeholder {
  color: #00000091;
}
input:hover {
   border: 1px solid #f9b17a;
}
input:focus {
    border-color: #4d27b4; 
    outline: none; 
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4d27b4;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
}

button:hover {
  background-color: #40248f;
}

</style>
<div class="recover-page">
  <div class="form-container">
    <h1>Recuperar Senha</h1>
    <form id="recover-form">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required><br>
      
      <button type="submit">Recuperar Senha</button>
    </form>
  </div>
</div>

<script>
  document.getElementById('recover-form').addEventListener('submit', async function(event) {
    event.preventDefault();
    const formData = new FormData(event.target);
    const data = Object.fromEntries(formData.entries());

    const response = await fetch('/api/auth/recover', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data),
    });

    if (response.ok) {
      alert('Email de recuperação enviado com sucesso');
    } else {
      alert('Falha ao enviar email de recuperação');
    }
  });
</script>
